<h1>Editing Memo</h1>
<body background="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1510070912261&di=15e41b97dc492900ca777711ee049a74&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F13%2F77%2F98%2F57r58PICPiY_1024.jpg">
<%= render 'form' %>

<%= link_to 'Show', @memo %> |
<%= link_to 'Back', memos_path %>
